@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

:root {
	--blue-mid: #4698ae;
	--blue-dark: #37476c;
	--blue-dark-opacity: rgba(55, 71, 108, 0.8);
	--white: #fcfcfc;
}

html {
	font-size: 62.5%;
}

body {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	min-width: 100vw;
	background: var(--blue-mid);
	font-size: 1.6rem;
	font-family: "Poppins", sans-serif;
}

h1 {
	color: var(--white);
	font-weight: 700;
	letter-spacing: 1px;
	font-size: 3.2rem;
	margin-bottom: 1.6rem;
}

.snowfall {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
}
